<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sample Test Suite" preserve-order="true">
    <listeners>
        <listener class-name="main.java.utils.Listeners"/>
    </listeners>
    <test name="Simulate Credit PF1 Test">
        <parameter name="browserName" value="chrome"/>
        <classes>
            <class name="test.java.SimulateCreditPF1Test"/>
        </classes>
    </test>
</suite>
